/* ==========================================================================
  Browser support
  ========================================================================== */
/* Typography
   ========================================================================== */
/* Grid
   ========================================================================== */
/* Code examples
   ========================================================================== */
/* titillium-web-200italic - latin */
@font-face {
  font-family: 'Titillium';
  font-style: normal;
  font-weight: 200;
  src: url("http://lattice.cf/stylesheets/fonts/titillium-web-v4-latin-200italic-a33e2135.eot");
  /* IE9 Compat Modes */
  src: local("TitilliumThin Italic"), local("TitilliumWeb-ThinItalic"), url("http://lattice.cf/stylesheets/fonts/titillium-web-v4-latin-200italic-a33e2135.eot?#iefix") format("embedded-opentype"), url("http://lattice.cf/stylesheets/fonts/titillium-web-v4-latin-200italic-f6bcfd00.woff2") format("woff2"), url("http://lattice.cf/stylesheets/fonts/titillium-web-v4-latin-200italic-b0abb30e.woff") format("woff"), url("http://lattice.cf/stylesheets/fonts/titillium-web-v4-latin-200italic-e38153d8.ttf") format("truetype"), url("http://lattice.cf/stylesheets/fonts/titillium-web-v4-latin-200italic-f656f363.svg#TitilliumWeb") format("svg");
  /* Legacy iOS */ }
/* titillium-web-regular - latin */
@font-face {
  font-family: 'Titillium';
  font-style: normal;
  font-weight: 400;
  src: url("http://lattice.cf/stylesheets/fonts/titillium-web-v4-latin-regular-21fe5167.eot");
  /* IE9 Compat Modes */
  src: local("Titillium"), local("TitilliumWeb-Regular"), url("http://lattice.cf/stylesheets/fonts/titillium-web-v4-latin-regular-21fe5167.eot?#iefix") format("embedded-opentype"), url("http://lattice.cf/stylesheets/fonts/titillium-web-v4-latin-regular-78029561.woff2") format("woff2"), url("http://lattice.cf/stylesheets/fonts/titillium-web-v4-latin-regular-8c873224.woff") format("woff"), url("http://lattice.cf/stylesheets/fonts/titillium-web-v4-latin-regular-f7a58a33.ttf") format("truetype"), url("http://lattice.cf/stylesheets/fonts/titillium-web-v4-latin-regular-f538740f.svg#TitilliumWeb") format("svg");
  /* Legacy iOS */ }
/* titillium-web-italic - latin */
@font-face {
  font-family: 'Titillium';
  font-style: italic;
  font-weight: 400;
  src: url("http://lattice.cf/stylesheets/fonts/titillium-web-v4-latin-italic-2b9aa561.eot");
  /* IE9 Compat Modes */
  src: local("TitilliumItalic"), local("TitilliumWeb-Italic"), url("http://lattice.cf/stylesheets/fonts/titillium-web-v4-latin-italic-2b9aa561.eot?#iefix") format("embedded-opentype"), url("http://lattice.cf/stylesheets/fonts/titillium-web-v4-latin-italic-5b21be22.woff2") format("woff2"), url("http://lattice.cf/stylesheets/fonts/titillium-web-v4-latin-italic-49dea3b9.woff") format("woff"), url("http://lattice.cf/stylesheets/fonts/titillium-web-v4-latin-italic-7e84aac6.ttf") format("truetype"), url("http://lattice.cf/stylesheets/fonts/titillium-web-v4-latin-italic-55570914.svg#TitilliumWeb") format("svg");
  /* Legacy iOS */ }
/* titillium-web-600 - latin */
@font-face {
  font-family: 'Titillium';
  font-style: normal;
  font-weight: 600;
  src: url("http://lattice.cf/stylesheets/fonts/titillium-web-v4-latin-600-970b467b.eot");
  /* IE9 Compat Modes */
  src: local("TitilliumSemiBold"), local("TitilliumWeb-SemiBold"), url("http://lattice.cf/stylesheets/fonts/titillium-web-v4-latin-600-970b467b.eot?#iefix") format("embedded-opentype"), url("http://lattice.cf/stylesheets/fonts/titillium-web-v4-latin-600-1454a475.woff2") format("woff2"), url("http://lattice.cf/stylesheets/fonts/titillium-web-v4-latin-600-e1e6406a.woff") format("woff"), url("http://lattice.cf/stylesheets/fonts/titillium-web-v4-latin-600-b3aefc9f.ttf") format("truetype"), url("http://lattice.cf/stylesheets/fonts/titillium-web-v4-latin-600-b017a0ae.svg#TitilliumWeb") format("svg");
  /* Legacy iOS */ }
/* titillium-web-700 - latin */
@font-face {
  font-family: 'Titillium';
  font-style: normal;
  font-weight: 700;
  src: url("http://lattice.cf/stylesheets/fonts/titillium-web-v4-latin-700-4a00da17.eot");
  /* IE9 Compat Modes */
  src: local("TitilliumBold"), local("TitilliumWeb-Bold"), url("http://lattice.cf/stylesheets/fonts/titillium-web-v4-latin-700-4a00da17.eot?#iefix") format("embedded-opentype"), url("http://lattice.cf/stylesheets/fonts/titillium-web-v4-latin-700-4690a86a.woff2") format("woff2"), url("http://lattice.cf/stylesheets/fonts/titillium-web-v4-latin-700-72a26f13.woff") format("woff"), url("http://lattice.cf/stylesheets/fonts/titillium-web-v4-latin-700-92a27fbe.ttf") format("truetype"), url("http://lattice.cf/stylesheets/fonts/titillium-web-v4-latin-700-e68195d8.svg#TitilliumWeb") format("svg");
  /* Legacy iOS */ }
/* line 1, /Users/pivotal/workspace/lattice-website/source/stylesheets/generic/_helpers.scss */
.bg-brand-1 {
  background-color: #22C365 !important; }

/* line 5, /Users/pivotal/workspace/lattice-website/source/stylesheets/generic/_helpers.scss */
.bg-dark-1 {
  background-color: #201D23 !important; }

/* line 9, /Users/pivotal/workspace/lattice-website/source/stylesheets/generic/_helpers.scss */
.type-brand-1 {
  color: #22C365 !important; }

/* line 14, /Users/pivotal/workspace/lattice-website/source/stylesheets/generic/_helpers.scss */
.type-brand-2 {
  color: #34E97C !important; }

/* line 18, /Users/pivotal/workspace/lattice-website/source/stylesheets/generic/_helpers.scss */
.bg-gradient-1 {
  background-color: #13d16b;
  // background-color: #ffffff;


  background-image: -webkit-linear-gradient(top, #34E97C, #1B984F);
  background-image: -moz-linear-gradient(top, #13d16b, #1B984F);
  background-image: -o-linear-gradient(top, #13d16b, #1B984F);
  background-image: linear-gradient(to bottom, #34E97C, #1B984F); }

  /*top colour*/
  color: #201D23 !important;

  // background-image: -webkit-linear-gradient(top, #eeeeee, #ffffff);
  // background-image: -moz-linear-gradient(top, #eeeeee, #ffffff);
  // background-image: -o-linear-gradient(top, #eeeeee, #ffffff);
  // background-image: linear-gradient(top, #eeeeee, #ffffff); }

@-webkit-keyframes divider-psuedo-pulse {
  0%,100% {
    -webkit-transform: scale(1) rotate(45deg);
    -moz-transform: scale(1) rotate(45deg);
    -ms-transform: scale(1) rotate(45deg);
    -o-transform: scale(1) rotate(45deg);
    transform: scale(1) rotate(45deg); }
  50% {
    -webkit-transform: scale(1.5) rotate(45deg);
    -moz-transform: scale(1.5) rotate(45deg);
    -ms-transform: scale(1.5) rotate(45deg);
    -o-transform: scale(1.5) rotate(45deg);
    transform: scale(1.5) rotate(45deg); } }
@-o-keyframes divider-psuedo-pulse {
  0%,100% {
    -webkit-transform: scale(1) rotate(45deg);
    -moz-transform: scale(1) rotate(45deg);
    -ms-transform: scale(1) rotate(45deg);
    -o-transform: scale(1) rotate(45deg);
    transform: scale(1) rotate(45deg); }
  50% {
    -webkit-transform: scale(1.5) rotate(45deg);
    -moz-transform: scale(1.5) rotate(45deg);
    -ms-transform: scale(1.5) rotate(45deg);
    -o-transform: scale(1.5) rotate(45deg);
    transform: scale(1.5) rotate(45deg); } }
@-moz-keyframes divider-psuedo-pulse {
  0%,100% {
    -webkit-transform: scale(1) rotate(45deg);
    -moz-transform: scale(1) rotate(45deg);
    -ms-transform: scale(1) rotate(45deg);
    -o-transform: scale(1) rotate(45deg);
    transform: scale(1) rotate(45deg); }
  50% {
    -webkit-transform: scale(1.5) rotate(45deg);
    -moz-transform: scale(1.5) rotate(45deg);
    -ms-transform: scale(1.5) rotate(45deg);
    -o-transform: scale(1.5) rotate(45deg);
    transform: scale(1.5) rotate(45deg); } }
@keyframes divider-psuedo-pulse {
  0%,100% {
    -webkit-transform: scale(1) rotate(45deg);
    -moz-transform: scale(1) rotate(45deg);
    -ms-transform: scale(1) rotate(45deg);
    -o-transform: scale(1) rotate(45deg);
    transform: scale(1) rotate(45deg); }
  50% {
    -webkit-transform: scale(1.5) rotate(45deg);
    -moz-transform: scale(1.5) rotate(45deg);
    -ms-transform: scale(1.5) rotate(45deg);
    -o-transform: scale(1.5) rotate(45deg);
    transform: scale(1.5) rotate(45deg); } }
/* line 2, /Users/pivotal/workspace/lattice-website/source/stylesheets/base/_setup.scss */
::selection {
  background: RGBA(52, 233, 124, 1); }

/* line 6, /Users/pivotal/workspace/lattice-website/source/stylesheets/base/_setup.scss */
::-moz-selection {
  background: RGBA(52, 233, 124, 1); }

/* line 10, /Users/pivotal/workspace/lattice-website/source/stylesheets/base/_setup.scss */
a {
  color: #888888; }
  /* line 12, /Users/pivotal/workspace/lattice-website/source/stylesheets/base/_setup.scss */
  a:hover {
    color: #eeeeee; }

/* line 1, /Users/pivotal/workspace/lattice-website/source/stylesheets/base/_typography.scss */
.em-titillium {
  font-family: 'titillium', sans-serif !important; }

/* line 5, /Users/pivotal/workspace/lattice-website/source/stylesheets/base/_typography.scss */
.hero-title {
  font-size: 48px;
  line-height: 1;
  letter-spacing: 1px; }

/* line 11, /Users/pivotal/workspace/lattice-website/source/stylesheets/base/_typography.scss */
.title {
  line-height: 1; }

/* line 1, /Users/pivotal/workspace/lattice-website/source/stylesheets/components/_latticeDivider.scss */
.latticeDivider-vertical {
  width: 1px;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.1);
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }
  /* line 12, /Users/pivotal/workspace/lattice-website/source/stylesheets/components/_latticeDivider.scss */
  .latticeDivider-vertical .latticeDivider-svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%); }
  /* line 22, /Users/pivotal/workspace/lattice-website/source/stylesheets/components/_latticeDivider.scss */
  .latticeDivider-vertical:before {
    content: '';
    position: absolute;
    top: 20%;
    display: block;
    height: 1px;
    width: 1px;
    opacity: 0.8;
    background: #FFFFFF;
    border-radius: 1000px;
    box-shadow: 0px 0px 8px 3px #00AEEF;
    animation-timing-function: ease-in-out;
    animation: divider-psuedo-pulse 3s infinite;
    -webkit-animation: divider-psuedo-pulse 3s infinite;
    -webkit-animation-timing-function: ease-in-out;
    z-index: 1000; }
  /* line 39, /Users/pivotal/workspace/lattice-website/source/stylesheets/components/_latticeDivider.scss */
  .latticeDivider-vertical:after {
    content: '';
    position: absolute;
    display: block;
    bottom: 20%;
    height: 1px;
    width: 1px;
    opacity: 0.8;
    background: #FFFFFF;
    border-radius: 1000px;
    box-shadow: 0px 0px 8px 3px #00AEEF;
    animation-timing-function: ease-in-out;
    animation: divider-psuedo-pulse 3s infinite;
    -webkit-animation: divider-psuedo-pulse 3s infinite;
    -webkit-animation-timing-function: ease-in-out; }

@media (max-width: 768px) {
  /* line 58, /Users/pivotal/workspace/lattice-website/source/stylesheets/components/_latticeDivider.scss */
  .facet_sidebar {
    display: none; } }
@media (max-width: 992px) {
  /* line 64, /Users/pivotal/workspace/lattice-website/source/stylesheets/components/_latticeDivider.scss */
  .latticeDivider-vertical {
    display: none; }
    /* line 66, /Users/pivotal/workspace/lattice-website/source/stylesheets/components/_latticeDivider.scss */
    .latticeDivider-vertical:before {
      display: none; }
    /* line 69, /Users/pivotal/workspace/lattice-website/source/stylesheets/components/_latticeDivider.scss */
    .latticeDivider-vertical:after {
      display: none; } }
/* line 76, /Users/pivotal/workspace/lattice-website/source/stylesheets/components/_latticeDivider.scss */
.latticeDivider-horizontal {
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  position: relative;
  margin-top: 3em;
  margin-bottom: 3em; }
  /* line 83, /Users/pivotal/workspace/lattice-website/source/stylesheets/components/_latticeDivider.scss */
  .latticeDivider-horizontal .latticeDivider-svg {
    position: absolute;
    fill: #30E077;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%); }
  /* line 91, /Users/pivotal/workspace/lattice-website/source/stylesheets/components/_latticeDivider.scss */
  .latticeDivider-horizontal .latticeDivider-hex2 {
    fill: #2BCB6B;
    stroke: rgba(255, 255, 255, 0.75);
    stroke-width: 1; }
  /* line 96, /Users/pivotal/workspace/lattice-website/source/stylesheets/components/_latticeDivider.scss */
  .latticeDivider-horizontal:before {
    content: '';
    position: absolute;
    left: 0;
    top: -1px;
    display: block;
    height: 4px;
    width: 4px;
    background: #FFFFFF;
    border-radius: 1000px; }
  /* line 107, /Users/pivotal/workspace/lattice-website/source/stylesheets/components/_latticeDivider.scss */
  .latticeDivider-horizontal:after {
    content: '';
    position: absolute;
    right: 0;
    top: -1px;
    display: block;
    height: 4px;
    width: 4px;
    background: #FFFFFF;
    border-radius: 1000px; }

/* line 120, /Users/pivotal/workspace/lattice-website/source/stylesheets/components/_latticeDivider.scss */
.app-instances .latticeDivider-horizontal {
  background-color: rgba(255, 255, 255, 0.1); }
  /* line 122, /Users/pivotal/workspace/lattice-website/source/stylesheets/components/_latticeDivider.scss */
  .app-instances .latticeDivider-horizontal .latticeDivider-hex2 {
    fill: #201D23;
    stroke: rgba(255, 255, 255, 0.1); }
  /* line 126, /Users/pivotal/workspace/lattice-website/source/stylesheets/components/_latticeDivider.scss */
  .app-instances .latticeDivider-horizontal:before {
    background-color: rgba(255, 255, 255, 0.75); }
  /* line 127, /Users/pivotal/workspace/lattice-website/source/stylesheets/components/_latticeDivider.scss */
  .app-instances .latticeDivider-horizontal:after {
    background-color: rgba(255, 255, 255, 0.75); }

/* line 1, /Users/pivotal/workspace/lattice-website/source/stylesheets/components/_latticeButtons.scss */
.lattice-button {
  background-color: #201D23;
  border: 1px solid #58565a;
  padding: 5px 20px 7px 20px;
  color: white;
  text-transform: uppercase;
  font-family: 'titillium', sans-serif;
  letter-spacing: 2px; }
  /* line 9, /Users/pivotal/workspace/lattice-website/source/stylesheets/generic/_mixins.scss */
  .lattice-button:hover {
    background-color: #1b191e;
    border-color: #22C365;
    box-shadow: 0 0 0 8px rgba(34, 195, 101, 0.1);
    color: white; }

/* line 5, /Users/pivotal/workspace/lattice-website/source/stylesheets/components/_latticeButtons.scss */
.lattice-button-alt {
  background-color: #2AD36F;
  border: 1px solid #5fde93;
  padding: 5px 20px 7px 20px;
  color: white;
  text-transform: uppercase;
  font-family: 'titillium', sans-serif;
  letter-spacing: 2px; }
  /* line 9, /Users/pivotal/workspace/lattice-website/source/stylesheets/generic/_mixins.scss */
  .lattice-button-alt:hover {
    background-color: #24b35e;
    border-color: #22C365;
    box-shadow: 0 0 0 8px rgba(34, 195, 101, 0.1);
    color: white; }

/* line 1, /Users/pivotal/workspace/lattice-website/source/stylesheets/components/_featureRow.scss */
.featureRow {
  position: relative; }

@media (max-width: 768px) {
  /* line 7, /Users/pivotal/workspace/lattice-website/source/stylesheets/components/_featureRow.scss */
  .facet_sidebar {
    display: none; } }
@media (max-width: 992px) {
  /* line 14, /Users/pivotal/workspace/lattice-website/source/stylesheets/components/_featureRow.scss */
  .featureRow-right .col-md-12 {
    padding-left: 10px !important; } }
/* line 20, /Users/pivotal/workspace/lattice-website/source/stylesheets/components/_featureRow.scss */
.imgCol-left {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 50%;
  bottom: 1px;
  width: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center; }
  /* line 30, /Users/pivotal/workspace/lattice-website/source/stylesheets/components/_featureRow.scss */
  .imgCol-left .bg--feature {
    background-position: left center;
    max-width: 1200px; }

/* line 37, /Users/pivotal/workspace/lattice-website/source/stylesheets/components/_featureRow.scss */
.imgCol-right {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 50%;
  bottom: 1px;
  width: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center; }
  /* line 47, /Users/pivotal/workspace/lattice-website/source/stylesheets/components/_featureRow.scss */
  .imgCol-right .bg--feature {
    background-position: right center;
    max-width: 1200px;
    width: 100%; }

@media (min-width: 1200px) {
  /* line 56, /Users/pivotal/workspace/lattice-website/source/stylesheets/components/_featureRow.scss */
  .imgCol-right .bg--feature {
    left: auto;
    right: 0; } }
/* line 63, /Users/pivotal/workspace/lattice-website/source/stylesheets/components/_featureRow.scss */
.bg--feature {
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: 75%;
  opacity: 0;
  transform: scale3d(0.75, 0.75, 0.75); }

/* line 75, /Users/pivotal/workspace/lattice-website/source/stylesheets/components/_featureRow.scss */
.animated .bg--feature {
  opacity: 1;
  transform: scale3d(1, 1, 1); }

/* line 80, /Users/pivotal/workspace/lattice-website/source/stylesheets/components/_featureRow.scss */
.bg--grid {
  background-size: contain;
  background-position: center center; }

/* line 1, /Users/pivotal/workspace/lattice-website/source/stylesheets/_junk.scss */
body {
  background-color: #201D23 !important; }

/* line 5, /Users/pivotal/workspace/lattice-website/source/stylesheets/_junk.scss */
h1 {
  color: white; }

/* line 9, /Users/pivotal/workspace/lattice-website/source/stylesheets/_junk.scss */
.logo {
  letter-spacing: 5px;
  padding-bottom: 10px; }

/* line 15, /Users/pivotal/workspace/lattice-website/source/stylesheets/_junk.scss */
.lattice-hero {
  position: relative;
  background: no-repeat 50.25% 100px url("http://lattice.cf/images/img--hero-7a206540.png");
  background-size: 1097px 662px; }

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 28, /Users/pivotal/workspace/lattice-website/source/stylesheets/_junk.scss */
  .lattice-hero {
    background: url("http://lattice.cf/images/img--hero@2x-b1aa109e.png") no-repeat bottom center;
    background-size: contain; } }
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 992px), only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 992px), only screen and (-o-min-device-pixel-ratio: 2 / 1) and (min-width: 992px), only screen and (min-device-pixel-ratio: 2) and (min-width: 992px), only screen and (min-resolution: 192dpi) and (min-width: 992px), only screen and (min-resolution: 2dppx) and (min-width: 992px) {
  /* line 33, /Users/pivotal/workspace/lattice-website/source/stylesheets/_junk.scss */
  .lattice-hero {
    background: url("http://lattice.cf/images/img--hero@2x-b1aa109e.png") no-repeat bottom center;
    background-size: 1072px 620px; } }
/* line 40, /Users/pivotal/workspace/lattice-website/source/stylesheets/_junk.scss */
.tri-1 {
  position: absolute;
  bottom: 0;
  left: 0;
  transition: height 450ms ease-in-out;
  height: 0; }

/* line 48, /Users/pivotal/workspace/lattice-website/source/stylesheets/_junk.scss */
.tri-2 {
  position: absolute;
  bottom: 0;
  right: 0;
  transition: height 450ms ease-in-out;
  height: 0; }

/* line 56, /Users/pivotal/workspace/lattice-website/source/stylesheets/_junk.scss */
.tri-3 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transition: height 450ms ease-in-out;
  height: 0; }

@media (min-width: 992px) {
  /* line 66, /Users/pivotal/workspace/lattice-website/source/stylesheets/_junk.scss */
  .tri-1, .tri-2 {
    height: 350px; }

  /* line 69, /Users/pivotal/workspace/lattice-website/source/stylesheets/_junk.scss */
  .tri-3 {
    height: 425px; } }
/* line 74, /Users/pivotal/workspace/lattice-website/source/stylesheets/_junk.scss */
.scheduling, .dynamic-routing, .self-healing, .log-aggregation, .x-ray {
  position: relative; }

/* line 78, /Users/pivotal/workspace/lattice-website/source/stylesheets/_junk.scss */
.appInstances {
  max-width: auto;
  width: 2000px;
  margin: 0 auto; }

/* line 84, /Users/pivotal/workspace/lattice-website/source/stylesheets/_junk.scss */
.latticeFooter {
  position: relative; }

/* line 88, /Users/pivotal/workspace/lattice-website/source/stylesheets/_junk.scss */
.tessalation {
  background: url(http://lattice.cf/images/bg--tessalation-81b6aab1.png) center center repeat-y;
  background-size: contain;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: .55; }

/* line 99, /Users/pivotal/workspace/lattice-website/source/stylesheets/_junk.scss */
.logoMark {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 5;
  top: 290px;
  text-align: center; }
  /* line 106, /Users/pivotal/workspace/lattice-website/source/stylesheets/_junk.scss */
  .logoMark svg {
    margin: 0 auto;
    text-align: center;
    position: absolute;
    left: 50;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

/* line 117, /Users/pivotal/workspace/lattice-website/source/stylesheets/_junk.scss */
.docs-container {
  background-color: #fafafa; }
  /* line 119, /Users/pivotal/workspace/lattice-website/source/stylesheets/_junk.scss */
  .docs-container h1 {
    color: #243640;
    font-family: 'titillium', sans-serif !important;
    font-size: 48px;
    font-weight: 400; }
  /* line 125, /Users/pivotal/workspace/lattice-website/source/stylesheets/_junk.scss */
  .docs-container h2, .docs-container h3, .docs-container h4, .docs-container h5, .docs-container h6 {
    color: #243640;
    font-family: 'titillium', sans-serif !important;
    margin-top: 50px; }
  /* line 130, /Users/pivotal/workspace/lattice-website/source/stylesheets/_junk.scss */
  .docs-container .container {
    position: relative; }
  /* line 133, /Users/pivotal/workspace/lattice-website/source/stylesheets/_junk.scss */
  .docs-container blockquote {
    padding: 12px 24px;
    margin: 0 0 24px;
    font-size: 16px;
    border-left: 2px solid #7479ED;
    background: white; }

/* line 142, /Users/pivotal/workspace/lattice-website/source/stylesheets/_junk.scss */
pre {
  position: relative;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(26, 53, 71, 0.08), 0 0 0 1px rgba(26, 53, 71, 0.04), 0 1px 1px rgba(26, 53, 71, 0.06);
  background: #fff;
  border: none;
  font-size: 13px;
  color: #686868; }
  /* line 150, /Users/pivotal/workspace/lattice-website/source/stylesheets/_junk.scss */
  pre code {
    font-family: "Fira Mono OT", monospace !important; }
  /* line 153, /Users/pivotal/workspace/lattice-website/source/stylesheets/_junk.scss */
  pre:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 5px;
    z-index: 1;
    background: linear-gradient(rgba(255, 255, 255, 0), white); }
  /* line 164, /Users/pivotal/workspace/lattice-website/source/stylesheets/_junk.scss */
  pre:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 8px;
    left: 0;
    z-index: 2;
    background: linear-gradient(rgba(26, 53, 71, 0), rgba(26, 53, 71, 0.03)); }

/* line 178, /Users/pivotal/workspace/lattice-website/source/stylesheets/_junk.scss */
#docs-nav {
  border-bottom: none;
  background: white;
  border-top: none;
  position: relative;
  right: -10px; }
  /* line 184, /Users/pivotal/workspace/lattice-website/source/stylesheets/_junk.scss */
  #docs-nav .list-group-item {
    position: relative; }
  /* line 188, /Users/pivotal/workspace/lattice-website/source/stylesheets/_junk.scss */
  #docs-nav .active:after {
    content: '';
    display: block;
    position: absolute;
    background: #7376F0;
    right: -1px;
    top: 0;
    bottom: 0;
    width: 2px; }
  /* line 198, /Users/pivotal/workspace/lattice-website/source/stylesheets/_junk.scss */
  #docs-nav .active a {
    color: #243640; }

/* line 204, /Users/pivotal/workspace/lattice-website/source/stylesheets/_junk.scss */
.list-group-item {
  border: 1px solid rgba(0, 0, 0, 0.05); }

/* line 209, /Users/pivotal/workspace/lattice-website/source/stylesheets/_junk.scss */
.img-scheduling .bg--feature {
  background-size: 135%;
  background-position: center center; }

@media (min-width: 1200px) {
  /* line 216, /Users/pivotal/workspace/lattice-website/source/stylesheets/_junk.scss */
  .img-scheduling .bg--feature {
    background-size: 135%;
    background-position: left center; } }
@media (min-width: 1800px) {
  /* line 223, /Users/pivotal/workspace/lattice-website/source/stylesheets/_junk.scss */
  .img-scheduling .bg--feature {
    background-size: 100%;
    background-position: left center; }

  /* line 227, /Users/pivotal/workspace/lattice-website/source/stylesheets/_junk.scss */
  .imgCol-left .x-ray-image {
    background-position: right center;
    max-width: none;
    background-size: 65%; } }
/* line 235, /Users/pivotal/workspace/lattice-website/source/stylesheets/_junk.scss */
.img-routing .bg--feature {
  background-size: 135%;
  background-position: right -100px; }

@media (min-width: 1200px) {
  /* line 242, /Users/pivotal/workspace/lattice-website/source/stylesheets/_junk.scss */
  .img-routing .bg--feature {
    background-size: 110%;
    background-position: right -50px; } }
@media (min-width: 1800px) {
  /* line 249, /Users/pivotal/workspace/lattice-website/source/stylesheets/_junk.scss */
  .img-routing .bg--feature {
    background-size: 100%;
    background-position: right -350px; } }
/* line 256, /Users/pivotal/workspace/lattice-website/source/stylesheets/_junk.scss */
.img-logs .bg--feature {
  background-size: 135%;
  background-position: right top; }

@media (min-width: 1200px) {
  /* line 263, /Users/pivotal/workspace/lattice-website/source/stylesheets/_junk.scss */
  .img-logs .bg--feature {
    background-size: 100%;
    background-position: right bottom; } }
@media (min-width: 1800px) {
  /* line 270, /Users/pivotal/workspace/lattice-website/source/stylesheets/_junk.scss */
  .img-logs .bg--feature {
    background-size: 90%;
    background-position: right top; } }
/* line 276, /Users/pivotal/workspace/lattice-website/source/stylesheets/_junk.scss */
.docs table {
  border-radius: 3px;
  background-color: white; }
  /* line 280, /Users/pivotal/workspace/lattice-website/source/stylesheets/_junk.scss */
  .docs table th {
    display: none; }
  /* line 284, /Users/pivotal/workspace/lattice-website/source/stylesheets/_junk.scss */
  .docs table td {
    padding: 18px;
    border: 1px solid #e0e0e0; }

/* line 17, /Users/pivotal/workspace/lattice-website/source/stylesheets/application.scss */
.scheduled-instances-image {
  background-image: url(http://lattice.cf/images/img--scheduledInstances@2x-44648250.png); }

/* line 21, /Users/pivotal/workspace/lattice-website/source/stylesheets/application.scss */
.dynamic-routing-image {
  background-image: url(http://lattice.cf/images/img--dynamicRouting@2x-802a8453.png); }

/* line 25, /Users/pivotal/workspace/lattice-website/source/stylesheets/application.scss */
.self-healing-image {
  background-image: url(http://lattice.cf/images/img--selfHealing@2x-fc46cab6.png);
  background-size: 125%;
  background-position: center center; }

/* line 31, /Users/pivotal/workspace/lattice-website/source/stylesheets/application.scss */
.log-aggregation-image {
  background-image: url(http://lattice.cf/images/img--logAggregationFeature@2x-00628c95.png); }

/* line 35, /Users/pivotal/workspace/lattice-website/source/stylesheets/application.scss */
.x-ray-image {
  background-image: url(http://lattice.cf/images/img--xray@2x-3d0d55f3.png);
  background-size: 100%; }

/* line 40, /Users/pivotal/workspace/lattice-website/source/stylesheets/application.scss */
.not-found {
  text-align: center;
  margin: 40px 0; }
